@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

body,
#__next {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
